.page { width: 730px; margin: 0 auto; }

.bordered { border-top: 2px solid #99ff99; border-bottom: 2px solid #99ff99; }

.copyright { padding: 0; text-align: left; }
.copyright td { font-size: 10px; color: #444; }
